.logo{
    width: 185px;
    height: 80px;
  }
  
  .page-number{
      float: right;
      width: 200px;
      padding-right: 30px;
      /* margin: 0px 0px 50px 0px; */
    }
  
    .page-nav {
      padding-left: 50px;
      padding-bottom: 252px; 
      margin: 0px 0px 25px 0px;
    }
  
   .all-buttons{
     margin-top: 15px;
  
   }
  
   /* article1 */
   /* .row li {
    width: 33.3%;
    float: left;
  } */
  
  img {
    border: 0 none;
    display: inline-block;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }

  .tab-content {

    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}
  

  